:root {
  --color-primary: #16397A;
  --color-secondary: #fbfbfb;
  --background-primary: linear-gradient(to right bottom, rgb(251, 251, 251), rgb(22, 57, 122));
  --background-secondary: linear-gradient(to right bottom, #fff, #fbfbfb);
  --cta-background-primary: #16397A;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color:#646670;

  position: relative;
}

h1, h2 {
  color:#16397A;
}

.container {
  max-width: 144rem;
  min-width: 39rem;
  margin: 0 auto;
}

.header {
  height: 8rem;
  padding: 2.5rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-secondary);

  & a {
    text-decoration: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: .3rem;
}

.logo-small {
  height: 4rem;
}

.logo-long {
  height: 5rem;
  transform: translateY(.6rem);
}

.wrapper {
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.wrapper-primary {
  background-image: var(--background-primary);
}

.wrapper-secondary {
  background-color: var(--background-secondary);
}

.hero {

  & img {
    max-width: 100%;
  }
}

.value-proposition {
  & h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-primary);
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
  }

  & p {
    color: #fff;
    margin-bottom: 2.5rem;
  }
}

.waitlist-form {
  display: inline-block;
  background-color: #fff;
  padding: .5rem;
  border-radius: 4px;

  & input {
    outline: none;
    border: none;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
  }
}

.waitlist-btn {
  font-size: 1.8rem;
  color: #fff;
  background-color: var(--color-primary);
  padding: 1rem 2.5rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: #0075cd;
  }
}

.feature-section {
  max-width: 50rem;

  & h2 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  & p {
    text-align: justify;
  }
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.2rem;
  border-radius: 4px;
  width: 100%;
  opacity: .9;
}

.success {
  background-color: #DBF9B8;
  color: #5c824a;
}

.error {
  background-color: #BC4B51;
  color: orange;
}